@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.countries {
  /* margin-bottom: 8rem; */
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.countries__input {
  padding: 1rem 3rem;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.header {
  .btn {
    border: none;
    outline: none;
    padding: 1rem 2.3rem;
    border-radius: 4px;
    margin-left: 1rem;
    cursor: pointer;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    box-shadow: 0 1rem 8rem 1rem rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  max-width: 34rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  text-align: left;
  /* overflow: hidden; */

  .country__img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    overflow: hidden;
  }

  .country__data {
    padding: 1.5rem 3.75rem 3rem 3.75rem;

    .country__name {
      font-size: 2.7rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: rgb(56, 56, 56);
    }

    .country__row:not(:last-child) {
      margin-bottom: 1.5rem;
      font-family: "Inter", sans-serif;
    }
  }
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;

  &::before {
    content: "Neighbour country";
    width: 100%;
    position: absolute;
    top: -4rem;

    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #888;
  }
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;

  & img {
    display: block;
    width: 80rem;
    margin: 4rem;
    .parallel {
      width: 40rem;
      margin: 2rem;
      border: 3rem solid white;
      box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    }
  }
}

.text-field,
.location-field {
  padding: 10px;
  /* margin-bottom: 1rem; */
  font-family: sans-serif;
  font-size: 1.4rem;
  color: #333;
  outline: none;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  opacity: 0;
}

.or {
  font-size: 1.2rem;
  margin: 5px;
}

.cases__number {
  margin-left: 0.5rem;
}

@media (max-width: 380px) {
  .country__row {
    font-size: 1.7rem;
    color: black;
  }
}
